version: '3.8'

services:
  frontend:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: ambustock-frontend-dev
    environment:
      - VITE_API_URL=http://localhost:5002
    ports:
      - "5173:5173"
    volumes:
      - .:/app
      - /app/node_modules
    restart: on-failure
