// Import de Google Fonts
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Source+Sans+3:wght@300;400;600;700&display=swap');

// Import de variables y mixins
@import './variables';
@import './mixins';

// Reset básico
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $font-primary;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
}

// Container base para todas las pantallas móviles
.mobile-container {
  width: 100%;
  max-width: $max-width-mobile;
  min-height: 100vh;
  margin: 0 auto;
  padding: 0;
  display: flex;
  flex-direction: column;
}


// Dark theme global styles
body.dark-theme {
  background-color: $dark-bg;
  color: $dark-text;
}
